:root {
    --my-bg-color: black;
    --my-txt-color: rgb(0, 200, 0);
    --my-txt-color-2:white;
    --my-txt-color-3: #0fecec;
    --my-border-color: rgb(0, 200, 0);
    --my-nav-menu-bg-color:#d3d3d3;
    --my-button-bg-color:#c1bdf7;    
    --my-placeholder-txt-clr: #4b02f3;
} 

#color-schema-checkbox-id:checked ~ *,
#color-schema-checkbox-id:checked ~ * * {   
    --my-bg-color: white;
    --my-txt-color: black;
    --my-txt-color-2:white;
    --my-txt-color-3: #0fecec;    
    --my-border-color: #453ada;
    --my-nav-menu-bg-color: yellow;
    --my-button-bg-color:#c1bdf7;
    --my-placeholder-txt-clr: rgb(44, 109, 9);
}

.color-scheme-mode {
    background-color: var(--my-bg-color, #aabbcc);
    border-color: var(--my-border-color, red);
    color: var(--my-txt-color, #453ada);
}

.color-scheme-mode a,
.color-scheme-mode a:link,
.color-scheme-mode a:visited,
.color-scheme-mode a:hover,
.color-scheme-mode a:active {
    color: var(--my-txt-color) !important;
    text-decoration: none !important;
}

/*
one of the company used monocolored (totally white) SVG logo
to make logo visible on light mode we need to invert colors
*/
.mono-white-logo {
    filter: invert(0);
}

.mono-black-logo {
    filter: invert(1);
}

#color-schema-checkbox-id:checked ~ * .mono-white-logo {
    filter: invert(1);
}

#color-schema-checkbox-id:checked ~ * .mono-black-logo {
    filter: invert(0);
}