:root {
    --my-bg-color: black;
    --my-txt-color: green;
    --my-border-color: green;
    --my-nav-menu-bg-color:#d3d3d3;
    --my-txt-color_2: #86e9f0;
    --my-button-bg-color:#c1bdf7;
} 

#color-schema-checkbox-id:checked ~ *,
#color-schema-checkbox-id:checked ~ * * {
    --my-nav-menu-bg-color: yellow;
    --my-bg-color: white;
    --my-txt-color: black;
    --my-border-color: #453ada;
    --my-txt-color_2: #1c201f;
    --my-button-bg-color:#c1bdf7;
}

.color-scheme-mode {
    background-color: var(--my-bg-color, #aabbcc);
    border-color: var(--my-border-color, red);
    color: var(--my-txt-color, #453ada);
}

.color-scheme-mode a,
.color-scheme-mode a:link,
.color-scheme-mode a:visited,
.color-scheme-mode a:hover,
.color-scheme-mode a:active {
    color: var(--my-txt-color) !important;
    text-decoration: none !important;
}

/*
one of the company used monocolored (totally white) SVG logo
to make logo visible on light mode we need to invert colors
*/
.mono-white-logo {
    filter: invert(0);
}

.mono-black-logo {
    filter: invert(1);
}

#color-schema-checkbox-id:checked ~ * .mono-white-logo {
    filter: invert(1);
}

#color-schema-checkbox-id:checked ~ * .mono-black-logo {
    filter: invert(0);
}