:root{
    --my-margin-top-right-side: 0rem;
    --my-margin-top-h1: 4rem;
    --my-gap-bottom-menu: 5rem;
    --my-image-width:5rem;
    --my-image-height:5rem;
    --my-go-home-text-gap: 9%;
    --my-font-size:1rem;
}

@media (max-width: 1000px) {
    :root {
        --my-margin-top-right-side: 0.7rem;
        --my-margin-top-h1: 8rem;
        --my-gap-bottom-menu: 2rem;
        --my-image-width:3rem;
        --my-image-height:3rem;
        --my-go-home-text-gap: 5%;
        --my-font-size:0.75rem;
        --my-width-for-narrow-scr:10rem;
    }
}

@media (max-width: 800px) {
    .menu-on-narrow-screen + label {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        padding: 0.5em 1em;
        cursor: pointer;        
        z-index: 10;
    }

    .main-navigation {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        top: 2.5em;
        left: 0;
        width: 135px;
        z-index: 5;
    }

    .menu-on-narrow-screen:checked + label + .main-navigation {
        display: flex;
    }

    .main-navigation > ul > li {
        width: 100%;        
    }

    .main-navigation li a {
        display: block;
        text-align: left;
        padding: 0.2rem 0.2rem 0.2rem 0.4rem;
    }

    .main-navigation li,
    .main-navigation li:last-child {
        border: none;
    }

    .text-content {
        text-align: left;
        width: 100%;
    }

    #get-in-touch-form input {
        width: 80%;
    }
}
