body {
    position: relative;
}

/*
To make dark/light mode applied for all the page we take switcher out of document stream by
    position: absolute;
and then all siblings under it can fill switch between light and dark theme. 

All this done due to limitation of pure HTML/CSS (we can't reach parent nodes
relative to the current) -  so body tag is unreachable from our point of view. 
*/
#color-schema-checkbox-id {
    position: fixed;
    top: 1.2rem;
    right: 0.7rem;    
}

#color-schema-label-id {    
    position: fixed;
    top: 1rem;
    right: 2rem;
    font-size: medium;
    margin-right: 1rem;
    transition: transform 0.7s ease;
}

#color-schema-label:hover {    
    transform: translateX(-1rem) scale(1.2);    
}

.no-list-style {
    list-style-type: none;
}

.full-site-design {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.menu-on-narrow-screen + label {
    display: none;
}

.menu-on-narrow-screen {    
    display: none;
    position: absolute;
    top: 0rem;
    left: 0;
    padding: 0.5em 1em;
    cursor: pointer;
}

.main-navigation ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.in-one-line {
    padding: 0.3rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: row;
    gap: 0.75rem;
}

summary.custom-h3 {
    font-size: var(--my-font-size-h3);
}

.custom-h4 {
    display: inline-block;
    padding: 0.3rem;
    margin: 0.5rem;
}

.main-navigation li {
    list-style-type: none;
    border: solid 0.15rem var(--my-border-color);
    border-radius: 1rem;
    padding: 0.75rem;    
    text-align: center;
    justify-content: center;
    background-color: var(--my-bg-color);
    transition: background-color 1.2s ease;
}

.main-navigation ul li:hover {
    background-color: var(--my-nav-menu-bg-color);
}

.growing-text {
    display: inline-block;
    font-size: medium;
    transition: transform 1s ease;
}

.growing-text:hover {
    transform:  scale(1.2);
}

a.growing-text:hover {
    color:blue !important;
}

.main-section {
    flex: 1;
}

.custom-h2 {
    padding: 0.75rem;
    margin: 0.75rem;
    text-align: center;
    border-bottom-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    border-color: blueviolet;
    border-style: double;
    margin-top: 2.5rem;
}

/*About section*/
.my-image {
    float: left;
    min-width: 20%;
    width: 25%;
    max-width: 35%;
    height: auto;
    object-fit: cover;
    border-radius: 3rem;
    padding: 0.5rem; 
}

.restore-styles li {
    display: inline;
}

.text-content {
    flex: 1;
    font-size: 1rem;
    line-height: 1.5rem;
}

.centered {
    text-align: center;
}

.resource-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.resource {
    margin: 1.5rem;
}

.take-me-home-image,
.tech-logo-image {
    width: var(--my-image-width);
    height: var(--my-image-height);
    object-fit: contain;
    display: block;
}

.logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 5em;
    height: 5em;
    display: block;
    border: 0.2rem aqua solid;
    border-radius: 0.5rem;
}

section {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

h1 {
    margin-top: var(--my-margin-top-h1);
    text-align: center;
    font-size: var(--my-font-size-h1);
}

h2 {
    margin-top: var(--my-margin-top-h1);
    text-align: center;
    font-size: var(--my-font-size-h2);
}

#get-in-touch-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem;
    border: 0.15rem var(--my-border-color) solid;
}

.input-data {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

input::placeholder {
    font-style: italic;
    color: var(--my-placeholder-txt-clr);
    opacity: 0.6;
}

.label-column {
    display: inline-block;
    width: 6rem;
}

/* star (for mandatory input field) design */
.mandatory-sign::after{
    content: "*";
    color: red;
    margin-left: 0.2rem;
}

/* just content: "" is not enough cause it's impact on right side of the frame */
input:valid + .mandatory-sign::after, 
select:valid + .mandatory-sign::after {
    visibility: hidden;
}
.get-in-touch-left-side {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    margin-right: 1rem;
}

.get-in-touch-right-side {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    flex: 1;
    margin-top: var(--my-margin-top-right-side);
}

#message-id {
    width: 100%;
    min-width: 10rem;
    height: 10rem;
    margin-top: 0.5rem;
    box-sizing: border-box;    
}

#message-label-id {
    display: block;
    margin-bottom: 0.25rem;
}

/* Submit button position */
.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: flex-end;
}

.red-blue-radial-gradient {
    background: radial-gradient(circle, rgb(2, 120, 18), rgb(107, 107, 252));
    color: var(--my-txt-color-3);
    text-shadow: 0.2rem 0.2rem 0.2rem rgba(0,0,0,0.5);
    width: 55%;
    margin: 2rem auto;
    display: block;
}

/* Sub-projects section design */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 0.65rem;
    list-style: none;
    padding: 0.7rem;
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.border {
    border: 0.15rem var(--my-border-color) solid;
}

.vertical-order{
    display: flex;
    flex-direction: column;
}

.button-link {
    padding: 0.2rem 0.25rem;
    margin-left: 0.5rem;
    background-color: var(--my-button-bg-color);
    color: var(--my-txt-color_2);
    text-decoration: none;
    border-radius: 0.3rem;
    font-size: 1rem;
    text-align: center;
}

.button-link:hover {
    background-color: #f4e802;
}

#pdf:checked ~ .pdf {
    display: inline-block;
}

#docx:checked ~ .docx {
    display: inline-block;
}

.download {
    display: none;
}

.socials {
    justify-content: center;
    margin: 1.5rem;
    display: flex;
    gap:0.5rem;
}

/*
We need to override the width, 
cause default value in "details" tag is length of summary
*/
#details-id {
    width: 100%;
}

#details-id.center .socials {
    justify-content: center;
    width: 100%;
}

.image-box {
    width: 2.5rem;
    height: 2.5rem;
    margin: 0.5rem;
    object-fit: contain;
}

/*Allow to screen-readers access to the text, 
but without displaying it on the screen*/
.sr-only {
    position: absolute;
    width: 0.1rem;
    height: 0.1rem;
    padding: 0;
    margin: -0.1rem;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

/* Allow to screen readers proper access to the tooltips */
.tooltip-container {
    position: relative;
    display: inline;
    cursor: help;
}

.tooltip-container .tooltip-text {
    visibility: hidden;
    position: absolute;
    white-space: nowrap;
    padding: 0.25rem 0.4rem;
    border: 0.1rem solid;
    font-size: 0.9rem;
    top: -1.6rem;
    left: 0;
    z-index: 10;
    color: var(--my-txt-color);
    background-color: var(--my-bg-color);
}

.tooltip-container:hover .tooltip-text,
.tooltip-container:focus .tooltip-text {
    visibility: visible;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 0.65rem;
    list-style: none;
    padding: 0.7rem;
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;   
}

.expandable {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;    
    aspect-ratio: 1/1;
    object-fit: cover;
    transition: transform 1.5s ease;
}

.expandable img {    
    display: block;
    width: 100%;
    height: auto;
}

.expandable:hover {
    transform: scale(2.5);
    opacity: 0.7;
}

.bottom-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--my-gap-bottom-menu);
    list-style-type: none;
}

.divider {
    border: none;
    width: 85%;
    height: 0.2rem;
    background: radial-gradient(circle, rgb(255, 127, 127), rgb(107, 107, 252));
    margin: 0.75rem auto;
    display: block;
}

.go-to-top {
    position: fixed;
    bottom: 1%;
    right: 1%;
}

.go-to-top:hover .go-home-text{
    position: fixed;
    bottom: var(--my-go-home-text-gap);
    color: var(--my-txt-color-2);
    right: 2%;
    display: block;
    font-size: var(--my-font-size);
}

.go-home-text{
    display: none;
}

.left-space {
    margin-left: 1%;
}