body {
    position: relative;
}

/*
To make dark/light mode applied for all the page we take switcher out of document stream by
    position: absolute;
and then all siblings under it can fill switch between light and dark theme. 

All this done due to limitation of pure HTML/CSS (we can't reach parent nodes
relative to the current) -  so body tag is unreachable from our point of view. 
*/
#color-schema-checkbox-id {
    position: fixed;
    top: 1.2rem;
    right: 0.7rem;    
}

#color-schema-label-id {    
    position: fixed;
    top: 1rem;
    right: 2rem;
    font-size: medium;
    margin-right: 1rem;
    transition: transform 0.7s ease;
}

#color-schema-label:hover {    
    transform: translateX(-1rem) scale(1.2);    
}

.no-list-style {
    list-style-type: none;
}

.full-site-design {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.menu-on-narrow-screen + label {
    display: none;
}

.menu-on-narrow-screen {    
    display: none;
    position: absolute;
    top: 0rem;
    left: 0;
    padding: 0.5em 1em;
    cursor: pointer;
}

.main-navigation ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

ul {
    padding: 0;
    margin: 0;
}

.main-navigation li {
    list-style-type: none;
    border-left: solid 2px var(--my-border-color);
    border-bottom: solid 2px var(--my-border-color); 
    border-top: solid 2px var(--my-border-color);
    padding: 0.75rem;    
    text-align: center;
    justify-content: center;
}

.main-navigation li:last-child {
    border-right: solid 2px var(--my-border-color);
}

.background-transformation {
    background-color: var(--my-bg-color);
    transition: background-color 1.2s ease;
}

.background-transformation:hover {
    background-color: var(--my-nav-menu-bg-color);
}

.growing-text {
    display: inline-block;
    font-size: medium;
    transition: transform 1s ease;
}

.growing-text:hover {
    transform:  scale(1.2);
}

.main-section {
    flex: 1;
}

.h2-header-design{
    padding: 10px;
    margin: 10px;
    text-align: center;
    border-bottom-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    border-color: blueviolet;
    border-style: double;
    margin-top: 2.5rem;
}

.man_avatar {
    width: 250px;
    max-width: 40vw;
    height: auto;
    object-fit: cover;
    border-radius: 7px;
}

/* Section related to the "resume" section */
.text-image-block {
    display: flex;
    align-items: flex-start;
    gap: 20px;    
    padding: 5px;
}

.side-image {
    width: 250px;
    max-width: 40vw;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    border: 3px solid black;
}

.text-content {
    flex: 1;
    font-size: 1rem;
    line-height: 1.5rem;
}

.centered {
    text-align: center;
}

.resource-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.resource{
    margin: 25px;
}

/* size of used technologies pictures */
.my-image {
    width: 80px;
    height: 80px;
    object-fit: contain;
    display: block;
}

/* my logo in the top-middle of the site*/
.logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 5em;
    height: 5em;
    display: block;
    border: 2px aqua solid;
    border-radius: 8px;
}

section {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

h1 {
    margin-top: var(--my-margin-top-h1);
    text-align: center;
    font-size: 5rem;
}

#get-in-touch-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem;
    border: 2px var(--my-border-color) solid;
}

.input-data {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

input::placeholder {
    font-style: italic;
    color: var(--my-placeholder-txt-clr);
    opacity: 0.6;
}

.label-column {
    display: inline-block;
    width: 6rem;
}

/* star (for mandatory input field) design */
.mandatory-sign::after{
    content: "*";
    color: red;
    margin-left: 0.2rem;
}

/* just content: "" is not enough cause it's impact on right side of the frame */
input:valid + .mandatory-sign::after, 
select:valid + .mandatory-sign::after {
    visibility: hidden;
}

.get-in-touch-right-side,
.get-in-touch-left-side {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    margin-right: 1rem;
}

.get-in-touch-right-side {
    flex: 1;
    margin-top: var(--my-margin-top-right-side);
}

#message-id {
    width: 100%;
    min-width: 15rem;
    height: 10rem;
    margin-top: 0.5rem;
    box-sizing: border-box;    
}

#message-label-id {
    display: block;
    margin-bottom: 0.25rem;
}

/* Submit button position */
.submit {
    display: flex;
    justify-content: flex-end;
}

/* Design for footer header */
.red-blue-radial-gradient {
    background: radial-gradient(circle, rgb(255, 127, 127), rgb(107, 107, 252));
    color: var(--my-txt-color_2);
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}

/* Sub-projects section design */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 0.65rem;
    list-style: none;
    padding: 0.7rem;
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.border {
    border: 2px var(--my-border-color) solid;
}

.vertical-order{
    display: flex;
    flex-direction: column;
}

/*
Design for "about" section.
Links that used to get files has for of button 
just for design purpose only
*/
.button-link {
    padding: 0.2rem 0.25rem;
    margin-left: 0.5rem;
    background-color: var(--my-button-bg-color);
    color: var(--my-txt-color_2);
    text-decoration: none;
    border-radius: 0.3rem;
    font-size: 1rem;
    text-align: center;
}

.button-link:hover {
    background-color: #f4e802;
}

#pdf:checked ~ .pdf {
    display: inline-block;
}

#docx:checked ~ .docx {
    display: inline-block;
}

#pdf:checked ~ #docx:checked ~ .download {
    display: none;
}

.download {
    display: none;
}

#details-id .socials {
    display: flex;
    gap:0.5rem;
}

/*
We need to override the width, 
cause default value in "details" tag is length of summary
*/
#details-id {
    width: 100%;
}

#details-id.center .socials {
    justify-content: center;
    width: 100%;
}

.image-box {
    width: 2.5rem;
    height: 2.5rem;
    margin: 0.5rem;
    object-fit: contain;
}

/*Allow to screen-readers access to the text, 
but without displaying it on the screen*/
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

/* Allow to screen readers proper access to the tooltips */
.tooltip-container {
    position: relative;
    display: inline;
    cursor: help;
}

.tooltip-container .tooltip-text {
    visibility: hidden;
    position: absolute;
    white-space: nowrap;
    padding: 0.25rem 0.4rem;
    border: 1px solid;
    font-size: 0.9rem;
    top: -1.6rem;
    left: 0;
    z-index: 10;
    color: var(--my-txt-color);
    background-color: var(--my-bg-color);
}

.tooltip-container:hover .tooltip-text,
.tooltip-container:focus .tooltip-text {
    visibility: visible;
}

/*subproject section*/
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 0.65rem;
    list-style: none;
    padding: 0.7rem;
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;   
}

.expandable {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;    
    aspect-ratio: 1/1;
    object-fit: cover;
    transition: transform 1.5s ease;
}

.expandable img {    
    display: block;
    width: 100%;
    height: auto;
}

.expandable:hover {
    transform: scale(2.5);
    opacity: 0.7;
}

.bottom-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--my-gap-bottom-menu);
}

.divider {
    border: none;
    height: 0.2rem;
    background: radial-gradient(circle, rgb(255, 127, 127), rgb(107, 107, 252));
    margin: 0.75rem 0;
}
