body {
    position: relative;
}

/*
To make dark/light mode applied for all the page we take switcher out of document stream by
    position: absolute;
and then all siblings under it can fill switch between light and dark theme. 

All this done due to limitation of pure HTML/CSS (we can't reach parent nodes
relative to the current) -  so body tag is unreachable from our point of view. 
*/
#color-schema-checkbox {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#color-schema-label {    
    position: absolute;
    top: 1rem;
    right: 2rem;
    font-size: medium;
    margin-right: 1rem;
    transition: transform 1s ease;
}

#color-schema-label:hover {    
    transform: translateX(-1rem) scale(1.3);    
}

.full-site-design {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-navigation {
    display: flex;
    flex-direction: row;
}

.menu-on-narrow-screen + label {
    display: none;
}

.menu-on-narrow-screen {    
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.5em 1em;
    cursor: pointer;
}

.main-navigation div {
    border-left: solid 2px var(--my-border-color, #453ada);
    border-bottom: solid 2px var(--my-border-color, #453ada); 
    border-top: solid 2px var(--my-border-color, #453ada);
    padding:1%;    
    text-align: center;
    justify-content: center;
}

.main-navigation div:last-child {
      border-right: solid 2px var(--my-border-color, #453ada);
}

.growing-text {
    display: inline-block;
    font-size: medium;
    transition: transform 1s ease;
}

.growing-text:hover {
    transform:  scale(1.3);
}

.main-section {
    flex: 1;
}

.h1-section{
    padding: 10px;
    margin: 10 px;
    text-align: center;
}

.man_avatar {
    width: 250px;
    max-width: 40vw;
    height: auto;
    object-fit: cover;
    border-radius: 7px;
}


/*section related to the middle section
    that include photo + text. 
    It also related to responsive behavior
*/
.text-image-block {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    padding: 5px;
    border: 2px var(--my-border-color) solid;
}

.side-image {
    width: 250px;
    max-width: 40vw;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    border: 3px solid black;
}

.text-content {
    flex: 1;
    font-size: 1rem;
    line-height: 1.5rem;
}

@media (max-width: 800px) {
    /*
    Navigate menu responsive code
    */
    .menu-on-narrow-screen + label {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        padding: 0.5em 1em;
        cursor: pointer;        
        z-index: 10;
    }

    .main-navigation {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        top: 2.5em;
        left: 0;
        width: 135px;
        z-index: 5;
    }

    .menu-on-narrow-screen:checked + label + .main-navigation {
        display: flex;
    }

    .main-navigation > div {
        width: 100%;        
    }

    .main-navigation > div a {
        display: block;
        text-align: left;
        padding: 1em 1em 1em 2em;
    }

    .main-navigation div,
    .main-navigation div:last-child {
        border: none;
    }

    /*
    central block responsive code
    */
    .text-image-block {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .side-image {
        width: 90%;
        max-width: 400px;
    }

    .text-content {
        text-align: left;
        width: 100%;
    }
}

.centered {
    text-align: center;
}

.resource-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.resource{
    margin: 25px;
}

/*
size of used technologies pictures
*/
.my-image {
    width: 80px;
    height: 80px;
    object-fit: contain;
    display: block;
}

/* my logo in the top-middle of the site*/
.logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 5em;
    height: 5em;
    display: block;
    border: 2px aqua solid;
    border-radius: 8px;
}

